
<div class="shop_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="shop_taital">Sizin İçin Seçtiklerimiz</h1>
                    <p class="shop_text" style="color: firebrick; font-size: xx-large;">
                        Pizza
                    </p>
                    <div><img src="~/Template/images/8.jpg" class="image_3" style="height:500px;width:900px;"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="shop_taital">Sizin İçin Seçtiklerimiz</h1>
                    <p class="shop_text" style="color: firebrick; font-size: xx-large;">
                        Hamburger
                    </p>
                    <div><img src="~/Template/images/9.jpg" class="image_3" style="height:500px;width:900px;"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="shop_taital">Sizin İçin Seçtiklerimiz</h1>
                    <p class="shop_text" style="color: firebrick; font-size: xx-large;">
                        Kobe Eti
                    </p>
                    <div><img src="~/Template/images/10.jpg" class="image_3" style="height:500px;width:900px;"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right" style="text-align: left;"></i>
        </a>
    </div>
</div>