
    ﻿<div class="banner_section layout_padding">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="banner_taital">İçecek<span style="color: darkolivegreen;"> Molası</span></h1>
                        </div>
                        <div class="col-md-8">
                            <div><img src="~/Template/images/1.jpg" class="image_1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="banner_taital">Lezzeti<span style="color: darkolivegreen;"> Keşfet</span></h1>
                        </div>
                        <div class="col-md-8">
                            <div><img src="~/Template/images/2.jpg" class="image_1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="banner_taital">En iyi<span style="color: darkolivegreen;"> Restoran</span></h1>
                        </div>
                        <div class="col-md-8">
                            <div><img src="~/Template/images/3.jpg" class="image_1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
@* <div class="container">
    <div class="play_icon"><a href="#"><img src="~/Template/images/play-icon.png"></a></div>
</div> *@