
<div class="choose_section">
    <div class="container">
        <h1 class="choose_taital">Neden Bizi Seçmelisiniz?</h1>
        <p class="choose_text">
            Türkiye'nin En iyi RESTORANIYIZ!
        </p>
        <div class="choose_section_2">
            <div class="choose_left">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-1.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">100%<br><span class="satisfied_text_1">Müthiş Çalışanlar </span></h1>
                </div>
            </div>
            <div class="choose_middle">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-2.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">100+<br><span class="satisfied_text_1">Fazla Çeşit </span></h1>
                </div>
            </div>
            <div class="choose_middle_1">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-3.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">1500+<br><span class="satisfied_text_1">Müşteri Sayısı</span></h1>
                </div>
            </div>
            <div class="choose_right">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-4.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">%15<br><span class="satisfied_text_1">Her gün indirim oranı </span></h1>
                </div>
            </div>
        </div>
    </div>
</div>